.DS_Store

application/cache/*
!application/cache/index.html
application/config
application/config/*

application/logs/*
!application/logs/index.html

!application/*/.htaccess

composer.lock

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/
desktop.ini
application/webroot/zip
application/webroot/upload
application/webroot/js/wx/access_token.js
application/webroot/js/wx/jsapi_ticket.js