<!DOCTYPE html>
<html>
    <head>
        <title>项目名称</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
        <link rel="stylesheet" href="../../assets/css/common.css" />
        <link rel="stylesheet" href="../../assets/css/index_advert.css" />
    </head>
    <body>
        <div class="main" style="margin: 0;">
            <ul class="my_task">
                <!--待提交-->
                <li class="task_box">
                    <div class="top wait">
                        <p class="name"><a href="#">天猫超市高校藏盒子活动</a></p>
                        <p class="status">● 待提交</p>
                    </div>
                    <div class="context">
                        <ul>
                            <li>任务编号：<span>2017090908</span></li>
                            <li>任务类型：<span>线上任务</span></li>
                            <li>任务单价：<span>¥5</span></li>
                            <li>任务总价：<span class="warn">¥8888</span></li>
                            <li>任务时间：<span>2017.11.14 ~2017.11.06</span></li>
                            <li>发布平台：<span>微博、微信</span></li>
                        </ul>
                    </div>
                    <table class="task_table" style="width: 100%">
                        <tr>
                            <td class="border"><a class="a_box" href="#">修改</a></td>
                            <td class="border"><a class="a_box pass" href="#">提交</a></td>
                            <td><a class="a_box warn" href="#">结束</a></td>
                        </tr>
                    </table>
                </li>
                <!--待提交-end-->
                <!--待审核-->
                <li class="task_box">
                    <div class="top wait">
                        <p class="name">天猫超市高校藏盒子活动</p>
                        <p class="status">● 待审核</p>
                    </div>
                    <div class="context">
                        <ul>
                            <li>任务编号：<span>2017090908</span></li>
                            <li>任务类型：<span>线上任务</span></li>
                            <li>任务单价：<span>¥5</span></li>
                            <li>任务总价：<span class="warn">¥8888</span></li>
                            <li>任务时间：<span>2017.11.14 ~2017.11.06</span></li>
                            <li>发布平台：<span>微博、微信</span></li>
                        </ul>
                    </div>
                </li>
                <!--待审核-end-->
                <!--驳回-->
                <li class="task_box">
                    <div class="top wait">
                        <p class="name">天猫超市高校藏盒子活动</p>
                        <p class="status">● 驳回</p>
                    </div>
                    <div class="context">
                        <ul>
                            <li>任务编号：<span>2017090908</span></li>
                            <li>任务类型：<span>线上任务</span></li>
                            <li>任务单价：<span>¥5</span></li>
                            <li>任务总价：<span class="warn">¥8888</span></li>
                            <li>任务时间：<span>2017.11.14 ~2017.11.06</span></li>
                            <li>发布平台：<span>微博、微信</span></li>
                        </ul>
                    </div>
                    <table class="task_table" style="width: 100%">
                        <tr>
                            <td class="border"><a class="a_box" href="#">修改</a></td>
                            <td><a class="a_box warn" href="#">结束</a></td>
                        </tr>
                    </table>
                </li>
                <!--驳回-end-->
                <!--代付款-->
                <li class="task_box">
                    <div class="top wait">
                        <p class="name">天猫超市高校藏盒子活动</p>
                        <p class="status">● 待付款</p>
                    </div>
                    <div class="context">
                        <ul>
                            <li>任务编号：<span>2017090908</span></li>
                            <li>任务类型：<span>线上任务</span></li>
                            <li>任务单价：<span>¥5</span></li>
                            <li>任务总价：<span class="warn">¥8888</span></li>
                            <li>任务时间：<span>2017.11.14 ~2017.11.06</span></li>
                            <li>发布平台：<span>微博、微信</span></li>
                        </ul>
                    </div>
                    <table class="task_table" style="width: 100%">
                        <tr>
                            <td class="border"><a class="a_box pass" href="#">确认付款</a></td>
                            <td><a class="a_box warn" href="#">结束</a></td>
                        </tr>
                    </table>
                </li>
                <!--代付款-end-->
                <!--代财务确认收款-->
                <li class="task_box">
                    <div class="top wait">
                        <p class="name">天猫超市高校藏盒子活动</p>
                        <p class="status">● 代财务确认收款</p>
                    </div>
                    <div class="context">
                        <ul>
                            <li>任务编号：<span>2017090908</span></li>
                            <li>任务类型：<span>线上任务</span></li>
                            <li>任务单价：<span>¥5</span></li>
                            <li>任务总价：<span class="warn">¥8888</span></li>
                            <li>任务时间：<span>2017.11.14 ~2017.11.06</span></li>
                            <li>发布平台：<span>微博、微信</span></li>
                        </ul>
                    </div>
                    <table class="task_table" style="width: 100%">
                        <tr>
                            <td><a class="a_box warn" href="#">结束</a></td>
                        </tr>
                    </table>
                </li>
                <!--代财务确认收款-end-->
                <!--待发布-->
                <li class="task_box">
                    <div class="top wait">
                        <p class="name">天猫超市高校藏盒子活动</p>
                        <p class="status">● 待发布</p>
                    </div>
                    <div class="context">
                        <ul>
                            <li>任务编号：<span>2017090908</span></li>
                            <li>任务类型：<span>线上任务</span></li>
                            <li>任务单价：<span>¥5</span></li>
                            <li>任务总价：<span class="warn">¥8888</span></li>
                            <li>任务时间：<span>2017.11.14 ~2017.11.06</span></li>
                            <li>发布平台：<span>微博、微信</span></li>
                        </ul>
                    </div>
                    <table class="task_table" style="width: 100%">
                        <tr>
                            <td><a class="a_box warn" href="#">结束</a></td>
                        </tr>
                    </table>
                </li>
                <!--待发布-end-->
                <!--执行中-->
                <li class="task_box">
                    <div class="top proceed">
                        <p class="name">天猫超市高校藏盒子活动</p>
                        <p class="status">● 执行中</p>
                    </div>
                    <div class="context">
                        <ul>
                            <li>任务编号：<span>2017090908</span></li>
                            <li>任务类型：<span>线上任务</span></li>
                            <li>任务单价：<span>¥5</span></li>
                            <li>任务总价：<span class="warn">¥8888</span></li>
                            <li>任务时间：<span>2017.11.14 ~2017.11.06</span></li>
                            <li>发布平台：<span>微博、微信</span></li>
                        </ul>
                    </div>
                </li>
                <!--执行中-end-->
                <!--已完成-->
                <li class="task_box">
                    <div class="top end">
                        <p class="name">天猫超市高校藏盒子活动</p>
                        <p class="status">● 已完成</p>
                    </div>
                    <div class="context">
                        <ul>
                            <li>任务编号：<span>2017090908</span></li>
                            <li>任务类型：<span>线上任务</span></li>
                            <li>任务单价：<span>¥5</span></li>
                            <li>任务总价：<span class="warn">¥8888</span></li>
                            <li>任务时间：<span>2017.11.14 ~2017.11.06</span></li>
                            <li>发布平台：<span>微博、微信</span></li>
                        </ul>
                    </div>
                </li>
                <!--已完成-end-->
                <!--已关闭-->
                <li class="task_box">
                    <div class="top close">
                        <p class="name">天猫超市高校藏盒子活动</p>
                        <p class="status">● 已关闭</p>
                    </div>
                    <div class="context">
                        <ul>
                            <li>任务编号：<span>2017090908</span></li>
                            <li>任务类型：<span>线上任务</span></li>
                            <li>任务单价：<span>¥5</span></li>
                            <li>任务总价：<span class="warn">¥8888</span></li>
                            <li>任务时间：<span>2017.11.14 ~2017.11.06</span></li>
                            <li>发布平台：<span>微博、微信</span></li>
                        </ul>
                    </div>
                </li>
                <!--已关闭-end-->
            </ul>


        </div>
        <script type="text/javascript" src="../../assets/js/third/jquery.js"></script>
        <script type="text/javascript" src="../../assets/js/util.js"></script>
    </body>
</html>