.main {
    margin-bottom: 60px;
}
.index-style .swiper-slide img{
    width: 100%;
}
.index-con {
    background: #fff;
    padding: 15px 0;
}
.index-con img {
    width: 100%;
    display: block;
}
.index-con p.button {
    padding: 20px 15px 0;
}

/*my*/
.my .my_head {
    background: url("../images/media_bg.png") no-repeat center 0;
    height: 140px;
    overflow: hidden;
    background-size: cover;
    margin-bottom: 10px;
}
.my_head ul {
    text-align: center;
    padding-top: 20px;
}
.my_head ul li.img {
    background: #fff;
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid #B5BEFF;
    overflow: hidden;
}
.my_head ul li.img img {
    width: 100%;
}
.my_head ul li.text {
    text-align: center;
    font-size: 20px;
    padding: 5px 0;
    color: #fff;
}
.my_index_table {
    background: #fff;
    margin-bottom: 10px;
}
.my_index_table td {
    color: #333;
}
.my_index_table td i.iconfont {
    color: #999;
}
.my_index_table img.icon {
    width: 18px;
}
.my .logout {
    background: #fff;
    text-align: center;
    height: 48px;
    line-height: 48px;
    font-size: 16px;
}
.my_msg_table {
    background: #fff;
    width: 100%;
}
.my_msg_table td {
    padding: 8px 8px;
}
.my_msg_table td.icon p {
    position: relative;
    width: 48px;
    height: 48px;
}
.my_msg_table td.icon p img {
    width: 48px;
    height: 48px;
}
.my_msg_table td.icon p span {
    position: absolute;
    right: -5px;
    top:-5px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    text-align: center;
    line-height: 16px;
    background: red;
    color: #fff;
    font-size: 10px;
}
.my_msg_table td.msg h2 {
    color: #0B0A0A;
    font-size: 16px;
}
.my_msg_table td.msg p {
    font-size: 12px;
    color: #999;
    padding: 5px 0;
    height: 15px;
    overflow: hidden;
}
.my_msg_table td.time {
    font-size: 12px;
    color: #999;
}
.my_task {
    padding: 10px;
}
.task_box {
    margin-bottom: 10px;
    border-radius: 3px;
    overflow: hidden;
    background: #fff;
}
.task_box .top {
    height: 50px;
    line-height: 50px;
    width: 100%;
    overflow: hidden;
}
.task_box .wait {
    background: #4A4C5B;
}
.task_box .proceed {
    background: #FD9354;
}
.task_box .end {
    background: #44BEA3;
}
.task_box .close {
    background: #999;
}
.task_box .top p.name {
    float: left;
    padding-left: 10px;
    color: #fff;
    font-size: 16px;
}
.task_box .top p.name a {
    color: #fff;
}
.task_box .top p.status {
    float: right;
    padding-right: 10px;
    color: #fff;
    font-size: 14px;
}
.task_box .top p.time {
    float: right;
    padding-right: 10px;
    color: #999;
    font-size: 14px;
}
.task_box .top p.time span {
    background: #fff;
    display: inline-block;
    color: #4A4C5B;
    width: 20px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    margin: 0 5px;
}
.task_box .top p.time b {
    color: #fff;
    font-weight: 400;
}
.task_box .context {
    width: 100%;
}
.task_box .context ul {
    width: 115%;
    padding: 5px 0;
    overflow: hidden;
}
.task_box .context ul li {
    float: left;
    width: 49.5%;
    height: 25px;
    line-height: 25px;
    text-indent: 6px;
    font-size: 12px;
    color: #999;
}
.task_box .context ul li span {
    color: #333;
}
.task_box .context ul li span.warn {
    color: red;
}
.task_table {
    width: 100%;
}
.task_table td {
    padding: 3px 0;
    height: 45px;
    border-top: 1px solid #eee;
    text-align: center;
}
.task_table td.border {
    border-right: 1px solid #eee;
}
.task_table td a {
    font-size: 15px;
    color: #333;
}
.task_table td a.pass {
    color: #41BEA3;
}
.task_table td a.warn {
    color: red;
}
.task_table td a.s_color1 {
    color: #FC9153;
}
.info_table {
    width: 90%;
    margin: 0 auto;
}
.info_table td {
    padding: 20px 10px;
    text-align: center;
}
.generalize_img_box {
    padding: 10px 0;
    width: 110%;
    overflow: hidden;
}
.generalize_img_box li {
    position: relative;
    float: left;
    width: 60px;
    height: 60px;
    margin: 0 25px 20px 0;
    border: 1px solid #eee;
}
.generalize_img_box li img {
    width: 60px;
    height: 60px;
}
.generalize_img_box li i.iconfont {
    position: absolute;
    z-index: 10;
    right: -8px;
    top:-8px;
    color: #FC9153;
    background: #fff;
}
.generalize_up_button {
    width: 100%;
    padding-bottom: 10px;
    overflow: hidden;
}
.generalize_up_button li {
    float: left;
}
.generalize_up_button li.img {
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 60px;
}
.generalize_up_button li.img img {
    width: 100%;
}
.generalize_up_button li.text {
    padding-left: 15px;
    width: 160px;
    height: 60px;
    line-height: 16px;
    font-size: 12px;
}
.income .income_head {
    background: url("../images/income_bg.png") no-repeat center 0;
    height: 140px;
    overflow: hidden;
    background-size: cover;
    margin-bottom: 10px;
}
.income_head ul {
    width: 100%;
    overflow: hidden;
    text-align: center;
    padding-top: 40px;
}
.income_head ul li {
    display: inline-block;
    color: #fff;
    padding: 0 40px;
}
.income_head ul li.border {
    border-right:1px solid #FFB385;
}
.income_head ul li p.num {
    color: #fff;
    font-size: 15px;
}
.income_head ul li p.num span {
    font-size: 28px;
}
.income_head ul li p.text {
    color: #FFE2D0;
    font-size: 15px;
}
.income_list {
    width: 100%;
    overflow: hidden;
}
.income_list ul {

}
.income_list ul li {
    position: relative;
    width: 100%;
    padding: 10px 0;
    overflow: hidden;
    background: #fff;
    border-bottom: 1px solid #eee;
}
.income_list div.left {
    margin-right: 60px;
}
.income_list div.left p {
    padding-left: 10px;
    height: 25px;
    line-height: 25px;
    font-size: 12px;
    color: #999;
}
.income_list div.left p span {
    color: #333;
}
.income_list div.right {
    position: absolute;
    /*width: 50px;*/
    height: 100%;
    right: 10px;
    top: 0;
    line-height: 95px;
    font-size: 24px;
}
.no_task {
    padding: 30px 0;
    text-align: center;
    color: #666;
}
.no_task img {
    width: 120px;
}
.task_status {
    padding: 15px 10px;
}
.task_status1 {
    background: #4A4C5B;
}
.task_status2 {
    background: #3EBEA3;
}
.task_status3 {
    background: #999;
}
.task_status p.status {
    color: #fff;
    font-size: 16px;
    height: 25px;
    line-height: 25px;
}
.task_status p.time {
    color: #fff;
    font-size: 12px;
    height: 25px;
    line-height: 25px;
    overflow: hidden;
}
